body {
    padding-top: 160px;
    font-family: 'Ubuntu', sans-serif;
    color: #0d0d0d;
    font-size: 1.5rem;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists
  will truncate terms that are too long to fit in the left column
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


/* --- Common style --- */
a {
    transition: all 0.3s ease;
    color: #0d0d0d;
}

    a:hover {
        color: #ffc50c;
        text-decoration: none;
    }

    a:focus {
        color: #ffc50c;
        text-decoration: none;
    }

ul {
    list-style-type: none;
    padding-left: 0;
}


.dark-bg-color {
    background-color: #0d0d0d;
    color: #ffffff;
}

.text-gray-color {
    color: #999;
}
.text-white-color {
    color: #fff;
}
.text-dark-color {
    color: #0d0d0d;
}


/* ----------- Header ----------- */
.navbar-inverse {
    background-color: #0d0d0d;
}

.navbar-header {
    float: none;
}

.navbar-collapse.collapse {
    border-top: 1px solid #333;
}

.navbar-nav {
    float: none;
    margin: 0 auto;
    color: white;
}

.navbar-inverse .navbar-nav > li > a {
    color: white;
}

    .navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
        color: #ffc50c;
    }

/* logo */
#homelogo {
    height: 85px;
    display: inline-block;
}

    #homelogo img {
        height: 100%;
    }

    #homelogo span {
        font-size: 1.2rem;
        vertical-align: top;
    }

.burger {
    margin-top: 25px;
}

#rightnav {
    float: right;
    list-style-type: none;
    height: 85px;
    padding-top: 42px;
    padding-left: 15px;
}

    #rightnav > li {
        display: inline-block;
        padding: 5px;
    }

    #rightnav a {
        color: white;
    }

    #rightnav a:hover {
        color: #ffc50c;
    }


.langFlag {
    vertical-align: inherit;
    width: 15px;
    margin-top: 2px;
}

/* search */
#searchbox {
    border: 1px solid white;
    background: #333;
    margin-left: 25px;
    padding: 5px 8px;
    color: white;
    width: 240px;
    font-size: 1.2rem;
}

    #searchbox:focus {
        border: 1px solid #ffc50c;
        outline: none;
    }

    #searchbox::-webkit-input-placeholder {
        color: white;
        font-size: 1.2rem;
    }

    #searchbox::-moz-placeholder {
        color: white;
        font-size: 1.2rem;
    }

    #searchbox:-ms-input-placeholder {
        color: white;
        font-size: 1.2rem;
    }

    #searchbox + label {
        margin-bottom: 0;
        margin-left: -35px;
        vertical-align: middle;
    }

#searchbox-wrapper {
    vertical-align: top;
    margin-top: 45px;
}

    #searchbox-wrapper .fa-search {
        color: white;
        transform: scaleX(-1);
        padding: 6px;
        transition: all 0.3s ease;
    }

        #searchbox-wrapper .fa-search:hover {
            color: #ffc50c;
        }

/* --------- END: Header --------- */

/* ----------- Footer ------------ */
footer {
    color: #999;
    border-top: 1px solid #333;
}

#footerLangFlag {
    padding: 15px;
}

footer ul li {
    display: inline-block;
    padding: 15px 5px 0;
}

footer ul li a {
    color: #999;
}
/* --------- END: Footer --------- */
/* ------------ Body ----------- */
.body-content {
    margin-top: 50px;
    margin-bottom: 80px;
}
/* --------- END: Body --------- */




/* ----------- UserDetail ------------ */
#artiste-detail-page {
    background-color: #0d0d0d;
    color: #fff;
}
#returnIndexDetails {
    color: #fff;
}
    #returnIndexDetails:hover {
        color: #ffc50c;
    }
    #returnIndexDetails:focus {
        color: #ffc50c;
    }

#artiste-detail{
    margin: 0 auto;
    max-width: 600px;
    text-align:center;
    margin-bottom: 100px;
}

#artiste-detail .thumbnail {
    padding: 0;
}

#artiste-detail-page .thumbnail h3 {
    margin: 10px 0 5px;
}

#artiste-detail-page .thumbnail p {
    margin: 5px 0;
}

.detailImageLink {
    height: 260px;
    width: 100%;
    display: block;
}

#artiste-detail-page .detailImageLink img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* --------- END: UserDetail --------- */



