body {
    padding-top: 160px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.5rem;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


    /* Common style */
    a {
        color: white;
        transition: all 0.3s ease;
    }
    a:hover {
        color: #ffc50c;
        text-decoration: none;
    }
    a:focus {
        color: #ffc50c;
        text-decoration: none;
    }



/* --- header --- */
    .navbar-header {
        float: none;
    }
    .navbar-inverse .navbar-nav > li > a {
        color: white;
    }
    .navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
        color: #ffc50c;
    }

    #homelogo {
        height: 85px;
        display: inline-block;
    }

    #homelogo img {
        height: 100%;
    }

    #rightnav {
        float: right;
        list-style-type: none;
        height: 85px;
        color: white;
        padding-top: 30px;
    }

    #rightnav > li {
        display: inline-block;
        padding: 5px;
    }

/* search */
    #searchbox {
        border: 1px solid white;
        background: #333;
        margin-left: 15px;
        padding: 5px 8px;
        color: white;
        font-size: 1.2rem;
    }

    #searchbox:focus {
        border: 1px solid #ffc50c;
        outline: none;
    }

    #searchbox::-webkit-input-placeholder {
        color: white;
        font-size: 1.2rem;
    }

    #searchbox::-moz-placeholder {
        color: white;
        font-size: 1.2rem;
    }

    #searchbox:-ms-input-placeholder {
        color: white;
        font-size: 1.2rem;
    }

    #searchbox + label {
        margin-bottom: 0;
        margin-left: -35px;
        vertical-align: middle;
    }

    #searchbox-wrapper .fa-search {
        color: white;
        transform: scaleX(-1);
        padding: 6px;
        transition: all 0.3s ease;
    }

    #searchbox-wrapper .fa-search:hover {
        color: #ffc50c;
    }
